[submodule ".buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/dav1d"]
    path = .buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/dav1d
    url = https://github.com/videolan/dav1d.git
[submodule ".buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/jpeg"]
    path = .buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/jpeg
    url = https://github.com/libsdl-org/jpeg.git
[submodule ".buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libavif"]
    path = .buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libavif
    url = https://github.com/AOMediaCodec/libavif.git
[submodule ".buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libjxl"]
    path = .buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libjxl
    url = https://github.com/libjxl/libjxl.git
[submodule ".buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libpng"]
    path = .buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libpng
    url = https://github.com/glennrp/libpng.git
[submodule ".buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libtiff"]
    path = .buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libtiff
    url = https://gitlab.com/libtiff/libtiff.git
[submodule ".buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libwebp"]
    path = .buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/libwebp
    url = https://github.com/webmproject/libwebp.git
[submodule ".buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/zlib"]
    path = .buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/SDL2_image/external/zlib
    url = https://github.com/madler/zlib.git
[submodule ".buildozer/android/platform/build-arm64-v8a/dists/synergyclient/jni/SDL2_image/external/dav1d"]
    path = .buildozer/android/platform/build-arm64-v8a/dists/synergyclient/jni/SDL2_image/external/dav1d
    url = https://github.com/libsdl-org/dav1d.git
